<nav role="navigation" class="navbar navbar-inverse">
  <div id="navbar" class="container-fluid">

    <div class="row">
      <% if params[:controller] != "welcome" %>

        <%= render './partials/nav_search' %>

        <div class="col-xs-4">
          <%= link_to("Food Baby", root_path, class: "nav-baby") %>
        </div>

        <div class="col-xs-4">
          <%= render './partials/login' %>
        </div>

      <% else %>

        <div class="col-xs-12">
          <%= render './partials/login' %>
          </ul>
        </div>

      <% end %>
    </div>

  </div>
</nav>
