<nav role="navigation" class="navbar navbar-inverse">
  <div id="navbar" class="container-fluid">

    <div class="row">
      <% if params[:controller] != "welcome" %>
        <div class="col-xs-5">
          <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" placeholder="Search&hellip;" class="form-control">
            </div>
          </form>
        </div>

        <div class="col-xs-3">
          <%= link_to("Food Baby", root_path, class: "nav-baby") %>
        </div>

        <div class="col-xs-4">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/1">Login</a></li>
          </ul>
        </div>
      <% else %>
        <div class="col-xs-12">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/1">Login</a></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
