    <nav role="navigation" class="navbar navbar-inverse">
      <div id="navbar" class="container-fluid">

        <div class="row">
          <div class="col-xs-5">
        <% if params[:controller] != "welcome" %>
          <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" placeholder="Search a restaurant&hellip;" class="form-control">
            </div>
          </form>
        </div>

        <div class="col-xs-3">
          <%= link_to("Food Baby", root_path, class: "nav-baby") %>
          <!-- <a href="#" class="nav-baby">Food Baby</a> -->
        </div>
        <% end %>

        <div class="col-xs-4">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
        </ul>

      </div>
      </div>
    </nav>
