<nav role="navigation" class="navbar navbar-inverse">
  <div id="navbar" class="container-fluid">

    <div class="row">

      <% if params[:controller] != "welcome" %>

        <div class="col-xs-1">
          <%= link_to :back do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
          <% end %>
        </div>

        <div class="col-xs-8 text-center">
          <%= link_to("Food Baby", root_path, class: "nav-baby") %>
        </div>

        <div class="col-xs-3">
          <%= render "./partials/login" %>
        </div>

      <% else %>

        <div class="col-xs-12">
          <%= render "./partials/login" %>
        </div>

      <% end %>

    </div>
  </div>
</nav>
