<ul class="nav navbar-nav navbar-right login">
  <% if @current_user %>
    <li>
      <!-- <%#= link_to "Welcome #{@current_user.name}", user_path(@current_user.id) %> |  -->
      <%= link_to "Log Out", logout_path %>
    </li>
  <% else %>
    <li>
      <%= link_to "Log In", "/auth/facebook" %>
    </li>
  <% end %>
</ul>
