<!-- <ul class="nav navbar-nav navbar-right login">
  <% if current_user %>
    <li>
      <%#= link_to "Welcome #{current_user.name}", user_path(current_user) %> |
      <%#= link_to "Log Out", logout_path %>
    </li>
  <% else %>
    <li>
      <%#= link_to "Log In", "/auth/facebook" %>
    </li>
  <% end %>
</ul> -->


<ul class="nav navbar-nav navbar-right login">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      Menu
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% if current_user %>
        <li><%= link_to "Account", user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Log In", "/auth/facebook" %>
      <% end %>
    </ul>
  </li>
</ul>
