<div class="col-xs-5">
  <ul class="nav navbar-nav">
    <li class="dropdown this-works">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-search"></span>
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-form">
        <form class="form-inline" role="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search"
            id="InputSearch" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go</button>
            </span>
          </div> <!-- /input-group -->
        </form>
      </div>
    </li>
  </ul>
</div>
