<div id="welcome">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 col-xs-12 text-center">

      <h1 class="food-baby">Food<br>Baby</h1>

      <%= link_to "Eat with Kids", restaurants_path, class: "btn btn-lg btn-default btn-block" %>

      <%= link_to "Eat without Kids", restaurants_path, class: "btn btn-lg btn-default btn-block" %>

      <form>
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group search">
              <input type="text" class="form-control search" placeholder="Search a restaurant&hellip;">
              <span class="input-group-btn">
                <button type="button" class="btn btn-lg btn-default search">Go</button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
