<div id="welcome" class="row">
  <div class="col-xs-12">
    <%= button_to "Log In", "#", class: "btn btn-sm btn-default" %>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 col-xs-12">

      <h1 class="text-center food-baby">Food<br>Baby</h1>

      <%= link_to "Eat with Kids", "#", class: "btn btn-lg btn-default btn-block" %>

      <%= link_to "Eat without Kids", "#", class: "btn btn-lg btn-default btn-block" %>

      <form>
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group search">
              <input type="text" class="form-control search" placeholder="Search a restaurant&hellip;">
              <span class="input-group-btn">
                <button type="button" class="btn btn-lg btn-default search">Go</button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
