<div id="welcome" class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("sushi.png", class: "food-baby") %>

      <%= link_to "Eat with Kids", restaurants_path, class: "btn btn-lg btn-default mobile-btn" %>

      <%= link_to "Eat without Kids", restaurants_path, class: "btn btn-lg btn-default mobile-btn" %>

      <form>
        <div class="input-group search">
          <input type="text" class="form-control search" placeholder="Search a restaurant&hellip;">
          <span class="input-group-btn">
            <button type="button" class="btn btn-lg btn-default search">Go</button>
          </span>
        </div>
      </form>

    </div>
  </div>
</div>
