<div id="results" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <!-- <div id="slider" class="col-xs-12">
    </div> -->

    <div>
      <div id="map"></div>
    </div>

    <div id="results-list">
      <p class="results-count">16 Kid-friendly restaurants</p>
      <div class="restaurant-result">
        <a href="restaurants/1">
          <h4 class="result-title">Pizza Shop</h4>
          <p class="restaurant-info badges"><span class="badger result">Italian</span><span class="badger result">pizza</span></p>
          <p class="restaurant-info">400 Main Street<br>
            Denver, CO 80101</p>
          </a>
        </div>
        <div class="restaurant-result">
          <a href="restaurants/1">
            <h4 class="result-title">Pizza Shop</h4>
            <p class="restaurant-info"><span class="badger result">Italian</span><span class="badger result">pizza</span></p>
            <p class="restaurant-info">400 Main Street<br>
              Denver, CO 80101</p>
            </a>
          </div>
          <div class="restaurant-result">
            <a href="restaurants/1">
              <h4 class="result-title">Pizza Shop</h4>
              <p class="restaurant-info"><span class="badger result">Italian</span><span class="badger result">pizza</span></p>
              <p class="restaurant-info">400 Main Street<br>
                Denver, CO 80101</p>
              </a>
            </div>
            <div class="restaurant-result">
              <a href="restaurants/1">
                <h4 class="result-title">Pizza Shop</h4>
                <p class="restaurant-info"><span class="badger result">Italian</span><span class="badger result">pizza</span></p>
                <p class="restaurant-info">400 Main Street<br>
                  Denver, CO 80101</p>
                </a>
              </div>
              <div class="restaurant-result">
                <a href="restaurants/1">
                  <h4 class="result-title">Pizza Shop</h4>
                  <p class="restaurant-info"><span class="badger result">Italian</span><span class="badger result">pizza</span></p>
                  <p class="restaurant-info">400 Main Street<br>
                    Denver, CO 80101</p>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
