<div id="results" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

    <!-- <div id="slider" class="col-xs-12">
    </div> -->

    <div id="map" class="text-center">
      <%= image_tag("denver.jpg", class: "map") %>
    </div>

    <div id="results-list">
      <p class="comment-count">16 Kid-friendly restaurants</p>
      <div class="restaurant-result">
        <a href="restaurants/1">
          <h4>Pizza Shop</h4>
          <p class="list-group-item-text"><span class="badge">Italian</span><span class="badge">pizza</span></p>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
      </div>

    </div>
  </div>
</div>
