<div id="results" class="container-fluid">
  <div class="row">

    <div class="col-xs-12">

        <!-- <div id="slider" class="col-xs-12">

        </div> -->

      <div id="map">
        <%= image_tag("denver.jpg", class: "map text-center") %>
      </div>

      <div id="results-list">
        <p>16 Kid-friendly restaurants</p>
        <a href="restaurants/1" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-group-item-text"><span class="badge">Italian</span><span class="badge">pizza</span></p>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
        <a href="#" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
        <a href="#" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
        <a href="#" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
        <a href="#" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
        <a href="#" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-group-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
        <a href="#" class="restaurant-result">
          <h4 class="list-group-item-heading">Pizza Shop</h4>
          <p class="list-groupe-item-text">400 Main Street<br>
            Denver, CO 80101</p>
        </a>
      </div>

  </div>
</div>
</div>
