<div id="restaurant" class="container-fluid">
  <div class="row">

    <div class="col-xs-12">

      <h2 class="restaurant-name"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Pizza Restaurant</h2>
      <!-- <%= image_tag('denver.jpg', class: "small-map mock-map") %> -->
      <div>
        <div id="map" class="small-map"></div>
      </div>


      <div class="row">
        <div class="col-xs-6 listing">
          <span class="badge">Italian</span><span class="badge">pizza</span><br>
          <p>400 Main Street<br>
            Denver, CO 80101<br>
            (303) 748-4898</p>
        </div>
        <div class="col-xs-6">
          <%= button_to('Write Review', '#', class: "btn btn-lg btn-default btn-block review") %>
          <%= link_to 'Visit Website', '#', class: "website" %>
          <%= link_to 'Add to My Favorites', '#', class: "website" %>
        </div>
      </div>

        <div id="comments">
          <p class="comment-count">6 comments</p>
          <ul>
            <li class="comment-list">
              <h4 class="comment-name">user141</h4>
              <p class="comment-text"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
              <p class="comment-text">We love this place! Come on Tuesdays for free kids meals!</p>
            </li>
            <li class="comment-list">
              <h4 class="comment-name">user141</h4>
              <p class="comment-text"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
              <p class="comment-text">We love this place! Come on Tuesdays for free kids meals!</p>
            </li>
            <li class="comment-list">
              <h4 class="comment-name">user141</h4>
              <p class="comment-text"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
              <p class="comment-text">We love this place! Come on Tuesdays for free kids meals!</p>
            </li>
            <li class="comment-list">
              <h4 class="comment-name">user141</h4>
              <p class="comment-text"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
              <p class="comment-text">We love this place! Come on Tuesdays for free kids meals!</p>
            </li>
            <li class="comment-list">
              <h4 class="comment-name">user141</h4>
              <p class="comment-text"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
              <p class="comment-text">We love this place! Come on Tuesdays for free kids meals!</p>
            </li>
          </ul>
        </div>
      </div>

  </div>
</div>
