@import "bootstrap-sprockets";
@import "bootstrap";

$body-font: 'Lucida Sans Unicode', ariel, sans-serif;
$heading-font: 'Lobster', cursive;
$darkblue:  #2F2933;
$ltgreen:   #B5E655;
$dkgreen:   #96CA2D;
$ltsky:     #7FC6BC;
$dksky:     #4BB5C1;
$bluegrey:  #EDF7F2;
$fire:      #F79943;

//General

body {
  padding-bottom: 15px;
  background-color: $darkblue;
  font-family: $body-font;
  color: white;
}

h4 {
  color: $darkblue;
}

a.btn.btn-lg.btn-default.mobile-btn {
  height: 155px;
  margin: 50px;
  font-size: 60px;
  color: $dksky;
  padding-top: 35px;
  display: block;
}

.flash {
  font-size: 40px;
  color: $ltgreen;
}


//Nav-bar

a.nav-baby {
  text-align: center;
  font-family: $heading-font;
  font-size: 46px;
  text-decoration: none;
  margin-left: 136px;
  color: $dksky;
}

.glyphicon.glyphicon-search, .caret{
  font-size: 40px;
}

.navbar.navbar-inverse {
  height: 100px;
  padding-top: 13px;
  margin-right: -25px;
}

.nav.navbar-nav.navbar-right.login {
  font-size: 35px;
  padding-top: 13px;
}

.menu-code {
  color: gray;
  font-size: 60px;
}

.glyphicon.glyphicon-chevron-left {
  color: gray;
  font-size: 40px;
  background-color: #222;
  padding: 20px;
  border: 1px gray solid;
  border-radius: 25px;
  margin-top: -2px;
}

.dropdown {
  // width: 200px;
}

.narrow {
  // width: 400px;
}

.dropdown-menu.dropdown-form {
  background-color: transparent;
  border: none;
  border-radius: 0 6px 12px rgba(0, 0, 0, 0);
  box-shadow: 0;
}

.form-control, .dropmenu-element {
  height: 100px;
  font-size: 40px;
}

.form-inline .input-group > .form-control, .navbar-form .input-group > .form-control {
  width: 600px;
  margin-left: -550px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
  height: 100px;
  width: 80px;
  font-size: 35px;
  color: $dksky;
}


//Welcome page

.food-baby {
  width: 100%;
  text-alignment: center;
  margin: 20px 0 30px 40px;
}

.input-group.search {
  margin: 0 50px;
}

.form-control.search {
  height: 155px;
  font-size: 60px;
}

.btn.btn-lg.btn-default.search {
  height: 155px;
  font-size: 60px;
  color: $dksky;
  width: 120px;
}

li.dropdown-element {
  height: 80px;
  width: 200px;
  font-size: 30px;
  padding-top: 15px;
}


//Restaurant Index

.map-index {
  width: 100%;
  border-radius: 25px;
  height: 650px;
}

.btn.btn-lg.btn-default.btn-block.review {
  height: 100px;
  margin-bottom: 30px;
  font-size: 40px;
  color: $dksky;
  padding-top: 15px;
  display: block;
}

.restaurant-result {
  border-radius: 25px;
  background-color: white;
  padding: 15px;
  margin: 25px 0px;
  font-size: 20px;
}

.result-title {
  background-color: $ltsky;
  padding: 20px;
  margin: 25px 0px;
  font-size: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: -15px -15px 15px -15px;
}

.website {
  display: block;
  font-size: 40px;
}

.results-count {
  color: white;
  font-size: 15px;
  margin: 100px 0 0 15px   ;
}

.restaurant-result, a:-webkit-any-link {
  text-decoration: none;
}

p.restaurant-info.badges {
  padding-top: 20px;
  padding-bottom: 20px;
}

.badger.result {
    font-size: 12px;
    padding: 15px 30px 15px 30px;
    margin-right: 10px;
    border: 7px solid #F79943;
    border-radius: 30px;
    color: $darkblue;
}

.restaurant-info {
  margin-top: 10px;
}


//Restaurant Show

.restaurant-name {
  margin-bottom: 0px;
  color: $darkblue;
  background-color: $dkgreen;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.small-map {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  border-radius: 0px;
}

.listing {
  line-height: 25px;
}

.listing p {
  color: white;
  font-size: 40px;
  line-height: 50px;
  margin-top: 20px;
}

.badge {
  font-size: 30px;
  padding: 15px 20px 12px 20px;
  margin-right: 10px;
  background-color: $fire;
  border-radius: 30px;
}

.comment-count {
  color: white;
  font-size: 15px;
  margin: 100px 0 0 30px   ;
}

#comments {
  margin: 0;
}

ul, #comments {
  list-style-type: none;
  margin-left: -20px;
}

.comment-text {
  color: $darkblue;
}

.comment-list {
  margin-top: 25px;
  border-radius: 25px;
  background-color: white;
  padding: 15px;
  font-size: 20px;
}

.comment-name {
  font-size: 30px;
  color: $darkblue;
  background-color: $ltgreen;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: -15px -15px 15px -15px;
}

.list-group-item {
  color: black;
}


// Profile

.profile-name {
  color: white;
}
