@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Pacifico);

//General

body {
  padding-bottom: 15px;
  background-color: black;
  color: white;
}


//Nav-bar

a.nav-baby {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-decoration: none;
}


//Welcome page

.food-baby {
  background-image: image-url('burger.jpg');
  background-repeat: no-repeat;
  border-radius: 200px;
  background-size: cover;
  height: 400px;
  // width: 400px;
  margin-bottom: 30px;
}

h1.food-baby {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  padding-top: 125px;
}

a.btn.btn-lg.btn-default.btn-block {
  margin-bottom: 20px;
}

.form-control.search {
  height: 45px;
  font-size: 17px;
}


//Restaurant Index

#results {
  // margin-left: 15px;
}

.restaurant-name {
  margin-bottom: 15px;
}

.map {
  width: 100%;
  // border: 1px solid white;
  margin-bottom: 10px;
}

.review {
  margin-top: 10px;
}

.badge {
  margin-right: 5px;
}

.listing {
  line-height: 25px;
}

#comments {
  margin-top: 20px;
}


//Restaurant Show

.small-map {
  width: 100%;
  // height: 100px;
}

.list-group-item {
  color: black;
}
