@import "bootstrap-sprockets";
@import "bootstrap";


//General

body {
  padding-bottom: 15px;
  // background-color: #303442;
  // background-color: #2F2933;
  background-color: red;
  font-family: "Lucida Sans Unicode", ariel, sans-serif;
  color: white;
}

h4 {
  color: #2F2933;
}

a.btn.btn-lg.btn-default.mobile-btn {
  height: 155px;
  margin: 50px;
  font-size: 60px;
  color: #2F2933;
  padding-top: 35px;
  display: block;
}


//Nav-bar

a.nav-baby {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 46px;
  text-decoration: none;
  margin-left: 40px;
  color: #01A2A6;
}

.glyphicon.glyphicon-search, .caret{
  font-size: 40px;
}

.navbar.navbar-inverse {
  height: 100px;
  padding-top: 13px;
}

.nav.navbar-nav.navbar-right.login {
  font-size: 35px;
  padding-top: 13px;
}


//Welcome page

.food-baby {
  width: 100%;
  margin-bottom: 30px;
}

.input-group.search {
  margin: 0 50px;
}

.form-control.search {
  height: 155px;
  font-size: 60px;
}

.btn.btn-lg.btn-default.search {
  height: 155px;
  font-size: 60px;
}


//Restaurant Index

.restaurant-name {
  margin-bottom: 15px;
}

.map {
  width: 100%;
  border-radius: 25px;
}

.btn.btn-lg.btn-default.btn-block.review {
  height: 100px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #2F2933;
  padding-top: 15px;
  display: block;
}

.restaurant-result {
  border-radius: 25px;
  background-color: #EDEDED;
  padding: 15px;
  margin: 25px 0px;
  font-size: 20px;
}

.website {
  display: block;
  font-size: 40px;
}

.comment-count {
  color: white;
  font-size: 30px;
  margin: 20px 0 0 30px   ;
}

.restaurant-result, a:-webkit-any-link {
  text-decoration: none;
}

.restaurant-result, h4 {
  font-size: 40px;
  color: #2F2933;
}

.comment-text {
  color: #2F2933;
}

.review {
  margin-top: 10px;
}

.badge {
  font-size: 30px;
  padding: 15px 20px 12px 20px;
  margin-right: 10px;
  background-color: #01A2A6;
  border-radius: 30px;
}


//Restaurant Show

.small-map {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.listing {
  line-height: 25px;
}

.listing p {
  color: white;
  font-size: 40px;
  line-height: 50px;
  margin-top: 20px;
}

#comments {
  margin: 0;
}

ul, #comments {
  list-style-type: none;
  margin-left: -20px;
}

.comment-list {
  margin-top: 25px;
  border-radius: 25px;
  background-color: #EDEDED;
  padding: 15px;
  // display: block;
  // width: 100%;
  font-size: 25px;
}

.list-group-item {
  color: black;
}


// Profile
